@font-face {
    src: url(../qcefonts/Zuume\ Regular.ttf);
    font-family: Zuume;
}

@font-face {
    src: url(../qcefonts/Zuume\ ExtraLight.ttf);
    font-family: ZuumeEL;
}

@font-face {
    src: url(../qcefonts/Zuume\ Light.ttf);
    font-family: ZuumeL;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zuume', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #fd3029;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    background-color: #1a1a1a;
    color: var(--text-color);
    line-height: 1.5;
    padding-top: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10%;
    transition: all 0.5s ease;
    border-bottom: 1px solid gray;
    background-color: #222327;
}

header span {
    font-style: italic;
    font-family: 'Zuume';
}

.logo {
    display: flex;
    align-items: center;
}

.kyusilogo {
    font-size: 28px;
    margin-right: 3px;
    width: 50px;
    height: auto;
}

.logo span {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.navbar {
    display: flex;
    transition: all 0.5s ease;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 20px;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.header-main {
    display: flex;
    align-items: center;
}

.header-main a {
    margin-right: 15px;
    margin-left: 5px;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 25px;
    margin-right: 7px;
}

.header-main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

#menu-icon.bx-x {
    color: var(--main-color);
}

@media (max-width: 1351px) {
    header {
        padding: 14px 2%;
    }
    .navbar a {
        margin: 0px 15px;
    }
}

@media (max-width: 1150px) {
    .navbar a {
        margin: 0px 10px;
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -270px;
        width: 270px;
        height: auto;
        background: #fd3029;
        flex-direction: column;
        padding: 20px 0;
        border-radius: 10px;
        transition: right 0.5s ease;
        overflow-y: auto;
    }
    .navbar.open {
        right: 2%;
    }
    .navbar a {
        color: var(--text-color);
        margin: 12px 0;
        padding: 0px 25px;
    }
}

@media (max-width: 480px) {
    .logo span {
        font-size: 1.5rem;
    }

    .kyusilogo {
        width: 35px;
    }

    body {
        padding-top: 80px;
    }

    .header-main a {
        font-size: 1.3rem;
    }
}

@media (max-width: 380px) {
    header {
        padding: 10px 5%;
        flex-wrap: wrap;
    }

    body {
        padding-top: 90px;
    }

    .logo span {
        font-size: 1.5rem;
    }

    .header-main a {
        font-size: 1.3rem;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        right: -570px;
        width: 100%;
        background: var(--main-color);
        transition: right 0.5s ease;
        padding: 20px 0;
        z-index: 999;
    }
    .navbar.open {
        right: 0;
    }
    .navbar a {
        font-size: 1rem;
        margin: 8px 0;
        padding: 10px 15px;
    }
    .kyusilogo {
        width: 27px;
    }
    .header-main {
        flex: 1;
    }

    #menu-icon {
        display: block;
        font-size: 28px;
    }
}

@media (max-width: 360px) {
    .navbar a {
        font-size: 1.3rem;
        padding: 8px 10px;
    }
    .logo {
        margin-right: auto;
    }
}


